:root { 
--pink_902:#771b48; 
--blue_A400:#1877f2; 
--pink_900:#990163; 
--pink_901:#7e1b48; 
--deep_purple_600:#5b1ec6; 
--gray_900_0c:#1018280c; 
--pink_A100:#f77cb4; 
--pink_A101:#ff73af; 
--gray_800_90:#42424290; 
--pink_A400_3f:#e600623f; 
--pink_100:#f5bdc8; 
--gray_402:#bcbec0; 
--gray_400:#bdbdbd; 
--pink_50:#ffdceb; 
--gray_401:#b7b9bb; 
--blue_500:#1d9bf0; 
--gray_800:#474747; 
--pink_A400_33:#e6006233; 
--orange_200:#ffc589; 
--cyan_52:#d1fbff; 
--indigo_A700:#2f2fe2; 
--cyan_51:#dffefd; 
--bluegray_400:#89939e; 
--pink_50_cc:#ffdcebcc; 
--cyan_50:#e3fdff; 
--gray_51:#fafafa; 
--pink_A400_64:#e6006264; 
--gray_50:#f8f8f8; 
--teal_400:#35a194; 
--pink_A401:#ff0a72; 
--pink_A400:#e60062; 
--pink_A402:#e40648; 
--gray_905:#151515; 
--gray_906:#231f20; 
--gray_903:#232323; 
--deep_orange_400:#ff7847; 
--gray_904:#28001a; 
--gray_907:#121212; 
--gray_501:#999999; 
--gray_502:#adadad; 
--gray_500:#9d9d9c; 
--gray_901:#550900; 
--gray_902:#20113b; 
--gray_900:#212121; 
--gray_100:#f5f7f9; 
--bluegray_700:#553973; 
--bluegray_300:#8c92a4; 
--pink_A400_4c:#ff0a724c; 
--white_A700_7f:#ffffff7f; 
--white_A700_b2:#ffffffb2; 
--red_200:#ea8096; 
--black_900_3f:#0000003f; 
--gray_300_99:#dfdfdf99; 
--white_A700_99:#ffffff99; 
--teal_700:#1d6e73; 
--pink_A700:#c21561; 
--purple_A200_7f:#ff3aeb7f; 
--deep_orange_300:#ff975e; 
--pink_A400_b2:#e40662b2; 
--pink_A400_7f:#e600617f; 
--pink_300:#ff509b; 
--pink_301:#f7529e; 
--gray_600:#757575; 
--gray_601:#808080; 
--pink_300_7c:#ff509b7c; 
--pink_A400_6a:#e600626a; 
--gray_900_66:#20004166; 
--red_A200:#ff586b; 
--gray_602:#717171; 
--gray_400_7f:#b0b0b07f; 
--amber_300:#fdd65b; 
--gray_200:#ebebeb; 
--gray_201:#efefef; 
--lime_100:#f7f1cc; 
--bluegray_600:#497888; 
--bluegray_200:#b3bbcf; 
--blue_300:#60bbea; 
--pink_A400_a0:#e60062a0; 
--pink_A400_6c:#e600626c; 
--white_A700:#ffffff; 
--pink_A400_a3:#e40662a3; 
--deep_purple_900:#2d107a; 
--white_A700_5f:#ffffff5f; 
--deep_purple_500:#6c38c6; 
--black_904:#190b05; 
--pink_300_87:#ff509b87; 
--pink_A200:#ff2d86; 
--pink_A201:#f7348e; 
--black_905:#000529; 
--black_900:#000000; 
--pink_A202:#f72083; 
--black_901:#0e0e0e; 
--deep_orange_201:#f5b48e; 
--deep_orange_200:#e9c69e; 
--pink_600:#d62a79; 
--gray_700:#5e6b6b; 
--white_A700_a2:#ffffffa2; 
--gray_701:#895e47; 
--indigo_50:#e5e6eb; 
--blue_600:#2c7eea; 
--gray_702:#58595b; 
--bluegray_100:#d2dcf0; 
--pink_A701:#cf0559; 
--orange_301:#f4c462; 
--pink_A400_14:#e6006214; 
--gray_300:#e9ded2; 
--orange_300:#e9bd5a; 
--bluegray_900:#1e0a4f; 
--bluegray_101:#d6d6d6; 
--indigo_902:#1a446a; 
--indigo_900:#220b5c; 
--indigo_901:#0c1153; 
}